In [1]:
from data_extraction import DataExtractor

# Create an instance of the DataExtractor
extractor = DataExtractor()

# Call the method
s3_uri = 's3://data-handling-public/products.csv'
df = extractor.extract_from_s3(s3_uri)

# Display the DataFrame
print(df.head())

   Unnamed: 0                                 product_name product_price  \
0           0  FurReal Dazzlin' Dimples My Playful Dolphin        £39.99
1           1          Tiffany's World Day Out At The Park        £12.99
2           2          Tiffany's World Pups Picnic Playset         £7.00
3           3     Tiffany's World Wildlife Park Adventures        £12.99
4           4                      Cosatto Cosy Dolls Pram        £30.00

   weight        category            EAN  date_added  \
0   1.6kg  toys-and-games  7425710935115  2005-12-02
1  0.48kg  toys-and-games   487128731892  2006-01-09
2    590g  toys-and-games  1945816904649  1997-03-29
3    540g  toys-and-games  1569790890899  2013-03-20
4  1.91kg  toys-and-games  7142740213920  2007-12-23

                                   uuid          removed product_code
0  83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1  712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2  b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3  d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4  7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a

In [2]:
# Display the first few entries in the weight column to understand its current format
print(df['weight'].head())

# Get a broader overview by looking at unique values
unique_weights = df['weight'].unique()
print(unique_weights)

0     1.6kg
1    0.48kg
2      590g
3      540g
4    1.91kg
Name: weight, dtype: object
['1.6kg' '0.48kg' '590g' '540g' '1.91kg' '0.91kg' '0.46kg' '0.38kg'
 '8.981kg' '1.478kg' '1.2g' '0.66kg' '1.8kg' '1.9kg' '1.725kg' '0.54kg'
 '0.322kg' '0.71kg' '0.88kg' '0.67kg' '11.076kg' '4kg' '0.385kg' '1.38kg'
 '2.57kg' '1.35kg' '0.695kg' '1.15kg' '0.98kg' '1.447kg' '1.3625kg'
 '2.25kg' '0.79kg' '0.8kg' '1.08kg' '2.476kg' '0.137kg' '11.5kg' '0.44kg'
 '2.75kg' '0.911kg' '0.33kg' '1kg' '0.5kg' '0.45kg' '0.7kg' '0.41kg'
 '1.3kg' '2kg' '0.34kg' '0.37kg' '0.76kg' '1.18kg' '0.685kg' '1.59kg'
 '1.4kg' '1.66kg' '13.5kg' '0.745kg' '1.44kg' '0.74kg' '0.660kg' '0.419kg'
 '0.418kg' '0.470kg' '0.353kg' '0.350kg' '0.96kg' '1.20kg' '1.21kg'
 '1.02kg' '0.365kg' '0.677kg' '0.55kg' '0.43kg' '0.11kg' '1.23kg' '1.03kg'
 '0.87kg' '0.39kg' '0.35kg' '0.42kg' '0.27kg' '726g' '0.61kg' '0.864kg'
 '0.667kg' '0.63kg' '0.72kg' '0.58kg' '0.627kg' '0.3kg' '0.32kg' '0.01kg'
 '0.650kg' '0.68kg' '0.36kg' '1.395kg' '0.9kg' '0.468kg' '0.687kg'
 '0.955kg' '0.700kg' '0.900kg' '0.06kg' '0.967kg' '0.03kg' '1.041kg'
 '0.6kg' '0.65kg' '0.59kg' '0.639kg' '0.649kg' '0.354kg' '1.25kg' '0.16kg'
 '0.258kg' '0.313kg' '0.08kg' '420g' '1.68kg' '0.718kg' '0.92kg' '0.072kg'
 '1.7kg' '3kg' '1.2kg' '1.505kg' '1.49kg' '0.492kg' '3.3kg' '3.17kg'
 '2.565kg' '0.443kg' '1.75kg' '0.21kg' '0.86kg' '0.882kg' '0.4kg' '0.77kg'
 '2.2kg' '1.27kg' '0.809kg' '0.378kg' '3.1kg' '1.84kg' '0.47kg' nan
 '1.16kg' '1.1kg' '0.087kg' '0.504kg' '480g' '12 x 100g' '8 x 150g'
 '6 x 412g' '6 x 400g' '15kg' '160g' '180g' '112g' '120g' '96g' '125g'
 '110g' '128g' '115g' '170g' '200g' '80g' '130g' '140g' '53g' '500g'
 '100g' '700g' '750g' '800g' '8 x 85g' '40 x 100g' '12 x 85g' '50g' '300g'
 '512g' '5.6kg' '6.4kg' '10kg' '14.8kg' '2.9kg' '2.4kg' '6kg' '18.7kg'
 '11kg' '7.5kg' '4.1kg' '13.7kg' '3.03kg' '3.8kg' '1.071kg' '13kg' '1.5kg'
 '2.8kg' '6.2kg' '296g' '1.65kg' '1.06kg' '2290g' '1950g' '1675g' '1550g'
 '1650g' '1450g' '1300g' '1100g' '2200g' '1850g' '1800g' '1500g' '250g'
 '0.2kg' '1.55kg' '1.40kg' '2100g' '1750g' '0.29kg' '450g' '10.5g' '280g'
 '230g' '150g' '416g' '163g' '360g' '390g' '1470g' '520g' '270g' '60g'
 '380g' '350g' '282g' '155g' '2.06kg' '3.2kg' '2.5kg' '10.5kg' '4.3kg'
 '9kg' '31kg' '12.8kg' '32.1kg' '16.7kg' '23.9kg' '20kg' '11.85kg'
 '18.5kg' '33kg' '8.2kg' '970g' '2.280kg' '1.280kg' '1.200kg' '1.440kg'
 '550g' '30g' '1230g' '52g' '45g' '650g' '340g' '265g' '1.09kg' '14g'
 '998g' '335g' '28kg' '6.25kg' '9.3kg' '28.8kg' '35.5kg' '537g' '375g'
 '260g' '600g' '61g' '165g' '475g' '26g' '615g' '582g' '430g' '440g'
 '0.423kg' '0.126kg' '0.22kg' '190g' '370g' '470g' '368g' '410g' '4.6kg'
 '3.4kg' '2.05kg' '2.1kg' '1.76kg' '2.85kg' '2.36kg' '1.37kg' '1.72kg'
 '1.73kg' '1.63kg' '0.75kg' '4.53kg' '3.45kg' '2.03kg' '9GO9NZ5JTL'
 '4.5kg' '12.1kg' '9.4kg' '6.1kg' '4.2kg' '12kg' '21kg' '7.8kg' '5.7kg'
 '5kg' '1760g' '3.75kg' '4.85kg' '5.5kg' '11.6kg' '10.7kg' '22.5kg'
 '19.8kg' '8.5kg' '15.5kg' '2.7kg' '27kg' '9.8kg' '12.5kg' '7.3kg' '8.4kg'
 '5.4kg' '15.8kg' '3.9kg' '6.3kg' '7kg' '6.9kg' '11.2kg' '12.3kg' '11.3kg'
 '15.6kg' '2.40kg' '2.70kg' '1.32kg' '1.80kg' '2.4g' '1.38g' '3.65kg'
 '1020g' '1220g' '185g' '887g' '570g' '365g' '0.24kg' '0.51kg' '0.25kg'
 '0.26kg' '0.81kg' '220g' '310g' '490g' '0.202kg' '630g' 'Z8ZTDGUZVU'
 '330g' '850g' '936g' '363g' '240g' '856g' '169g' '3.429kg' '2.770kg'
 '1.870kg' '2.150kg' '1.250kg' '1510g' '1250g' '1700g' '2050g' '1780g'
 '795g' '320g' '0.28kg' '226g' 'MX180RYSHX' '422g' '184g' '580g' '245g'
 '7.4kg' '1320g' '1090g' '1.56kg' '1160kg' '1060g' '1580g' '1365g'
 '2.14kg' '1.782kg' '1.081kg' '0.964kg' '2.66kg' '3.028g' '0.944g' '1.5g'
 '1.507g' '5.25kg' '3.82kg' '1.95kg' '1.05kg' '1.74kg' '0.89kg' '2.29kg'
 '810g' '3.85kg' '70g' '100ml' '3 x 2g' '4g' '60ml' '8g' '3 x 90g' '87g'
 '46g' '95g' '43g' '324g' '152g' '141g' '94g' '351g' '92g' '132g' '105g'
 '16 x 10g' '425g' '3 x 132g' '5 x 145g' '4 x 400g' '206g' '465g' '395g'
 '300ml' '800ml' '225g' '167g' '131g' '2 x 200g' '391g' '400g' '275g'
 '195g' '285g' '248g' '18g' '90g' '216g' '201g' '77g .' '99g' '114g'
 '0.115kg' '0.196kg' '290g' '3g' '16oz' '274g' '289g' '1.28kg' '820g'
 '134g']

In [3]:
df_copy = df.copy()

In [5]:
import pandas as pd
import re

# Define a function to extract numbers and units
def extract_number_unit(s):
    if pd.isna(s):
        return [None, None]
    # Use a raw string for the regular expression
    parts = re.split(r'(\d+\.?\d*)', s.replace(' ', ''))
    if len(parts) >= 3:
        return [parts[1], ''.join(parts[2:])]
    return [None, None]

# Example usage with DataFrame
data = {
    'weight': ['1.5kg', '300 g', '200ml', '2 liters', '?', '500grams']
}
df = pd.DataFrame(data)

# Apply this function to the 'weight' column
df['weight_split'] = df['weight'].apply(extract_number_unit)
df[['number', 'unit']] = pd.DataFrame(df['weight_split'].tolist(), index=df.index)

# Print the DataFrame to see the extracted parts
print(df[['weight', 'number', 'unit']])

     weight number    unit
0     1.5kg    1.5      kg
1     300 g    300       g
2     200ml    200      ml
3  2 liters      2  liters
4         ?   None    None
5  500grams    500   grams

In [7]:
def normalize_units(unit):
    if unit is None:  # Check if the unit is None and return None immediately if true
        return None
    unit = unit.lower().strip()  # Safely apply string methods now
    if 'kg' in unit or 'kilogram' in unit:
        return 'kg'
    elif 'g' in unit or 'gram' in unit:
        return 'g'
    elif 'ml' in unit or 'milliliter' in unit:
        return 'g'  # treating ml as grams as per the 1:1 volume to mass ratio given
    elif 'liter' in unit:
        return 'liters'  # you might need to decide how to handle liters if they need conversion
    else:
        return None  # for handling unknown or unparsable units

In [8]:
# Apply the adjusted function
df_copy['unit'] = df_copy['unit'].apply(normalize_units)

In [9]:
print(df_copy['unit'].unique())

['kg' 'g' None]

In [10]:
def normalize_units(unit):
    if unit is None:  # Check if the unit is None and return None immediately if true
        return None
    unit = unit.lower().strip()  # Safely apply string methods now
    if 'kg' in unit or 'kilogram' in unit:
        return 'kg'
    elif 'g' in unit or 'gram' in unit:
        return 'g'
    elif 'ml' in unit or 'milliliter' in unit:
        return 'g'  # treating ml as grams as per the 1:1 volume to mass ratio given
    elif 'liter' in unit or 'liters' in unit:
        return 'liters'  # Now correctly handling both 'liter' and 'liters'
    else:
        return None  # for handling unknown or unparsable units

In [11]:
# Create a second copy of the original DataFrame to ensure no carry-over mistakes
df_second_copy = df.copy()

# Apply the corrected normalization function
df_second_copy['unit'] = df_second_copy['unit'].apply(normalize_units)

# Check the results
print(df_second_copy['unit'].unique())

['kg' 'g' 'liters' None]

In [12]:
import pandas as pd
import re

# Assuming 'df' is your original DataFrame
# Create another new copy of the original DataFrame
df_final = df.copy()

# Function to normalize units and convert weights to kg
def process_weight(row):
    if pd.isna(row['weight']):
        return None
    # Extract number and unit using regex
    parts = re.split(r'(\d+\.?\d*)', row['weight'].replace(' ', ''))
    if len(parts) < 3:
        return None
    number = parts[1]
    unit = parts[2].lower().strip()
    
    # Normalize units
    if 'kg' in unit or 'kilogram' in unit:
        unit = 'kg'
    elif 'g' in unit or 'gram' in unit:
        unit = 'g'
    elif 'ml' in unit or 'milliliter' in unit or 'millilitre' in unit:
        unit = 'g'  # Treating ml as grams
    elif 'liter' in unit or 'liters' in unit or 'litre' in unit or 'litres' in unit:
        unit = 'liters'  # This requires decision on conversion
    else:
        return None
    
    # Convert number to float
    try:
        number = float(number)
        if unit == 'g':
            return number / 1000  # Convert grams to kilograms
        elif unit == 'kg':
            return number  # Already in kilograms
        elif unit == 'liters':
            # Assuming 1 liter of water = 1 kg
            return number
    except ValueError:
        return None

# Apply the function to create the weight_kg column
df_final['weight_kg'] = df_final['weight'].apply(process_weight)

# Optionally, drop the original 'weight' column if no longer needed
# df_final.drop('weight', axis=1, inplace=True)

# Display the first few rows to see the final DataFrame
print(df_final[['weight', 'weight_kg']].head())

TypeError: string indices must be integers, not 'str'

In [13]:
def process_weight(row):
    if pd.isna(row['weight']):
        return None
    # Extract number and unit using regex
    parts = re.split(r'(\d+\.?\d*)', row['weight'].replace(' ', ''))
    if len(parts) < 3:  # Ensure there are enough parts to avoid indexing errors
        return None
    number = parts[1]
    unit = ''.join(parts[2:]).lower().strip()  # Join all parts beyond the first split to form the unit string
    
    # Normalize units
    if 'kg' in unit or 'kilogram' in unit:
        unit = 'kg'
    elif 'g' in unit or 'gram' in unit:
        unit = 'g'
    elif 'ml' in unit or 'milliliter' in unit or 'millilitre' in unit:
        unit = 'g'  # Treating ml as grams
    elif 'liter' in unit or 'liters' in unit or 'litre' in unit or 'litres' in unit:
        unit = 'liters'  # Correctly handling all variations of 'liter'
    else:
        return None  # Handle unknown units
    
    # Convert number to float and calculate the weight in kilograms
    try:
        number = float(number)
        if unit == 'g':
            return number / 1000  # Convert grams to kilograms
        elif unit == 'kg':
            return number  # Already in kilograms
        elif unit == 'liters':
            # Assuming 1 liter of water = 1 kg
            return number
    except ValueError:
        return None  # Handle any conversion issues or non-numeric input

In [14]:
# Apply the updated function to create the weight_kg column
df_final['weight_kg'] = df_final['weight'].apply(process_weight)

# Display the first few rows to see the final DataFrame
print(df_final[['weight', 'weight_kg']].head())

TypeError: string indices must be integers, not 'str'

In [15]:
# Create a new copy of the original DataFrame
df_final = df.copy()

In [16]:
import re

# Define a function to extract number and unit
def extract_number_unit(s):
    if pd.isna(s):
        return [None, None]
    parts = re.split(r'(\d+\.?\d*)', s.replace(' ', ''))
    if len(parts) < 3:
        return [None, None]
    number = parts[1]
    unit = ''.join(parts[2:]).lower().strip()
    return [number, unit]

# Apply the function to create separate number and unit columns
df_final[['number', 'unit']] = df_final['weight'].apply(extract_number_unit).apply(pd.Series)

In [17]:
# Function to normalize units
def normalize_units(unit):
    if unit is None:
        return None
    unit = unit.lower().strip()
    if 'kg' in unit or 'kilogram' in unit:
        return 'kg'
    elif 'g' in unit or 'gram' in unit:
        return 'g'
    elif 'ml' in unit or 'milliliter' in unit or 'millilitre' in unit:
        return 'g'
    elif 'liter' in unit or 'liters' in unit or 'litre' in unit or 'litres' in unit:
        return 'liters'
    else:
        return None

# Apply the normalization function
df_final['unit'] = df_final['unit'].apply(normalize_units)

In [18]:
# Function to convert weights to kilograms
def convert_to_kilograms(row):
    try:
        number = float(row['number'])
        unit = row['unit']
        if unit == 'g':
            return number / 1000  # Convert grams to kilograms
        elif unit == 'kg':
            return number  # Already in kilograms
        elif unit == 'liters':
            return number  # Assuming 1 liter = 1 kg
        else:
            return None
    except (TypeError, ValueError):
        return None

# Apply the conversion function
df_final['weight_kg'] = df_final.apply(convert_to_kilograms, axis=1)

In [19]:
# Remove any rows where weight_kg could not be calculated
df_final = df_final[df_final['weight_kg'].notna()]

In [20]:
# Drop the original weight, number, and unit columns if no longer needed
df_final.drop(['weight', 'number', 'unit'], axis=1, inplace=True)

In [21]:
# Rename the weight column to weight_kg
# This step is already achieved during the conversion, so no additional renaming is required.

# Display the first few rows to verify the final DataFrame
print(df_final.head())

   weight_split  weight_kg
0     [1.5, kg]        1.5
1      [300, g]        0.3
2     [200, ml]        0.2
3   [2, liters]        2.0
5  [500, grams]        0.5

In [22]:
# Check the data type of the weight_kg column
print(df_final['weight_kg'].dtype)

float64

In [28]:
from data_extraction import DataExtractor

# Create an instance of the DataExtractor
extractor = DataExtractor()

# Call the method
s3_uri = 's3://data-handling-public/products.csv'
df = extractor.extract_from_s3(s3_uri)

# Display the DataFrame
print(df.head())

   Unnamed: 0                                 product_name product_price  \
0           0  FurReal Dazzlin' Dimples My Playful Dolphin        £39.99
1           1          Tiffany's World Day Out At The Park        £12.99
2           2          Tiffany's World Pups Picnic Playset         £7.00
3           3     Tiffany's World Wildlife Park Adventures        £12.99
4           4                      Cosatto Cosy Dolls Pram        £30.00

   weight        category            EAN  date_added  \
0   1.6kg  toys-and-games  7425710935115  2005-12-02
1  0.48kg  toys-and-games   487128731892  2006-01-09
2    590g  toys-and-games  1945816904649  1997-03-29
3    540g  toys-and-games  1569790890899  2013-03-20
4  1.91kg  toys-and-games  7142740213920  2007-12-23

                                   uuid          removed product_code
0  83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1  712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2  b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3  d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4  7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a

In [39]:
# Check for special characters in product names
special_characters = df['product_name'].apply(lambda x: re.findall(r'[^a-zA-Z0-9 ]', x))
print("Special characters found in product names:", special_characters.explode().value_counts())

TypeError: expected string or bytes-like object, got 'float'

In [41]:
# Display the first few rows of the product_price column
print(df['product_price'].head(50))

0     £39.99
1     £12.99
2      £7.00
3     £12.99
4     £30.00
5     £12.99
6      £7.00
7     £12.99
8     £12.99
9     £89.99
10    £24.99
11    £24.99
12    £24.99
13    £12.99
14    £12.99
15    £22.00
16    £22.00
17    £20.00
18    £16.99
19    £12.99
20    £39.99
21    £12.99
22    £12.99
23    £12.99
24    £25.00
25    £45.00
26    £24.99
27    £12.99
28    £18.99
29    £12.99
30    £29.99
31    £12.99
32    £12.99
33    £15.99
34    £30.00
35    £12.99
36    £12.99
37    £19.99
38    £12.99
39    £12.99
40    £12.99
41    £25.00
42    £45.00
43    £24.99
44    £12.99
45    £18.99
46    £12.99
47    £29.99
48    £12.99
49    £12.99
Name: product_price, dtype: object

In [43]:
# Check the data type of the product_price column
print("Data type of product_price:", df['product_price'].dtype)

Data type of product_price: object

In [44]:
# Get an overview of unique values in the product_price column
unique_product_prices = df['product_price'].unique()
print("Unique product prices:", unique_product_prices)
print("Number of unique product prices:", len(unique_product_prices))

Unique product prices: ['£39.99' '£12.99' '£7.00' '£30.00' '£89.99' '£24.99' '£22.00' '£20.00'
 '£16.99' '£25.00' '£45.00' '£18.99' '£29.99' '£15.99' '£19.99' '£11.99'
 '£14.99' '£32.99' '£120.00' '£10.00' '£21.99' '£13.99' '£30.99' '£270.00'
 '£40.99' '£42.99' '£71.99' '£34.99' '£52.99' '£13.00' '£2.25' '£3.00'
 '£3.50' '£4.00' '£26.99' '£17.99' '£31.99' '£44.99' '£27.99' '£33.49'
 '£23.49' '£15.00' '£22.99' '£6.99' '£12.00' '£5.99' '£3.99' '£50.00'
 '£49.99' '£36.49' nan '£1.50' '£2.50' '£8.00' '£2.99' '£4.49' '£5.49'
 '£4.35' '£2.75' '£3.69' '£6.49' '£9.49' '£7.99' '£1.29' '£2.19' '£2.69'
 '£0.39' '£2.00' '£1.69' '£1.39' '£1.99' '£3.25' '£4.29' '£4.69' '£3.49'
 '£10.99' '£1.15' '£35.00' '£38.00' '£18.00' '£32.00' '£14.00' '£6.00'
 '£17.00' '£16.00' '£5.00' '£40.00' '£65.00' '£70.00' '£80.00' '£60.00'
 '£99.00' '£110.00' '£100.00' '£9.00' '£8.99' 'XCD69KUI0K' '£55.00'
 '£46.00' '£34.00' '£85.00' '£9.99' 'N9D2BZQX63' '£24.00' '£28.00'
 'ODPMASE7V7' '£49.00' '£59.00' '£1.00' '£1.49' '£0.79' '£1.70' '£1.20'
 '£1.35' '£1.25' '£2.49' '£0.49' '£0.69' '£0.89' '£3.29' '£4.79' '£1.89'
 '£3.39' '£0.50' '£2.79' '£4.25' '£0.75' '£0.85' '£1.10' '£26.64' '£22.23'
 '£7.49' '£69.00']
Number of unique product prices: 133

In [45]:
# Check for any null values in the product_price column
null_product_prices = df['product_price'].isnull().sum()
print("Number of null product prices:", null_product_prices)

Number of null product prices: 4

In [46]:
# Check for product prices that do not start with '£'
non_pound_symbols = df['product_price'].apply(lambda x: not str(x).startswith('£'))
print("Number of product prices without '£' symbol:", non_pound_symbols.sum())
print("Examples of product prices without '£' symbol:\n", df[non_pound_symbols]['product_price'].unique())

Number of product prices without '£' symbol: 7
Examples of product prices without '£' symbol:
 [nan 'XCD69KUI0K' 'N9D2BZQX63' 'ODPMASE7V7']

In [48]:
# Display the first few rows of the category column
print(df['category'].head())

0    toys-and-games
1    toys-and-games
2    toys-and-games
3    toys-and-games
4    toys-and-games
Name: category, dtype: object

In [49]:
# Get unique values in the category column
unique_categories = df['category'].unique()
print("Unique categories:", unique_categories)
print("Number of unique categories:", len(unique_categories))

Unique categories: ['toys-and-games' 'sports-and-leisure' nan 'pets' 'homeware' 'S1YB74MLMJ'
 'C3NCA2CL35' 'WVPMHZP59U' 'health-and-beauty' 'food-and-drink' 'diy']
Number of unique categories: 11

In [51]:
# Get the count of each unique value in the removed column
removed_counts = df['removed'].value_counts()
print("Counts of unique values in 'removed' column:\n", removed_counts)

Counts of unique values in 'removed' column:
 removed
Still_avaliable    1752
Removed              94
T3QRRH7SRP            1
BPSADIOQOK            1
H5N71TV8AY            1
Name: count, dtype: int64

In [55]:
# Ensure the product_code column is treated as a string
df['product_code'] = df['product_code'].astype(str)

In [56]:
# Define a regular expression pattern for the valid format
pattern = r'^[A-Za-z0-9]{2}-[A-Za-z0-9]{8}$'

In [57]:
# Identify invalid product_code entries
invalid_product_codes = df[~df['product_code'].str.match(pattern)]

# Display the invalid entries
print("Invalid product_code entries:")
print(invalid_product_codes['product_code'])
print("Number of invalid entries:", len(invalid_product_codes))

Invalid product_code entries:
10      g5-411324A
19       w1-22434p
25       w4-86578A
28       k6-93543H
38      z8-257244T
           ...
1797    v0-697720L
1805    U9-412268j
1807    K6-678521h
1816    b3-038131J
1847    s1-001714d
Name: product_code, Length: 195, dtype: object
Number of invalid entries: 195

In [58]:
# Assuming the DataExtractor class is available in the same environment
from data_extraction import DataExtractor

# Create an instance of DataExtractor
extractor = DataExtractor()

# S3 URI
s3_uri = 's3://data-handling-public/products.csv'

# Retrieve data from S3
df = extractor.extract_from_s3(s3_uri)

# Display the first few rows of the dataframe to inspect it before cleaning
print("Before cleaning:")
print(df.head())

Before cleaning:
   Unnamed: 0                                 product_name product_price  \
0           0  FurReal Dazzlin' Dimples My Playful Dolphin        £39.99
1           1          Tiffany's World Day Out At The Park        £12.99
2           2          Tiffany's World Pups Picnic Playset         £7.00
3           3     Tiffany's World Wildlife Park Adventures        £12.99
4           4                      Cosatto Cosy Dolls Pram        £30.00

   weight        category            EAN  date_added  \
0   1.6kg  toys-and-games  7425710935115  2005-12-02
1  0.48kg  toys-and-games   487128731892  2006-01-09
2    590g  toys-and-games  1945816904649  1997-03-29
3    540g  toys-and-games  1569790890899  2013-03-20
4  1.91kg  toys-and-games  7142740213920  2007-12-23

                                   uuid          removed product_code
0  83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1  712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2  b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3  d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4  7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a

In [59]:
# Assuming the DataCleaning class is available in the same environment
from data_cleaning import DataCleaning

# Create an instance of DataCleaning
cleaner = DataCleaning()

# Apply the clean_product_data method to the dataframe
df_cleaned = cleaner.clean_product_data(df)

# Display the first few rows of the cleaned dataframe to inspect the changes
print("After cleaning:")
print(df_cleaned.head())

After cleaning:
   Unnamed: 0                                 product_name  product_price_gbp  \
0           0  FurReal Dazzlin' Dimples My Playful Dolphin              39.99
1           1          Tiffany's World Day Out At The Park              12.99
2           2          Tiffany's World Pups Picnic Playset               7.00
3           3     Tiffany's World Wildlife Park Adventures              12.99
4           4                      Cosatto Cosy Dolls Pram              30.00

         category            EAN  date_added  \
0  toys-and-games  7425710935115  2005-12-02
1  toys-and-games   487128731892  2006-01-09
2  toys-and-games  1945816904649  1997-03-29
3  toys-and-games  1569790890899  2013-03-20
4  toys-and-games  7142740213920  2007-12-23

                                   uuid          removed product_code  \
0  83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1  712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2  b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3  d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4  7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a

   weight_kg
0       1.60
1       0.48
2       0.59
3       0.54
4       1.91

In [67]:
# Display data types before cleaning
print("\nData types before cleaning:")
print(df_cleaned.dtypes)

Data types before cleaning:
Unnamed: 0             int64
product_name          object
product_price_gbp    float64
category              object
EAN                   object
date_added            object
uuid                  object
removed               object
product_code          object
weight_kg            float64
dtype: object

In [66]:
# Check for any non-numeric values in the product_price column
non_numeric_values = df_cleaned[~df_cleaned['product_price_gbp'].str.replace('.', '').str.isnumeric()]
print("Non-numeric values in product_price column:")
print(non_numeric_values['product_price_gbp'])

AttributeError: Can only use .str accessor with string values!

In [62]:
# Ensure all entries in the product_price column are strings
df['product_price'] = df['product_price'].astype(str)

In [63]:
# Check for any non-numeric values in the product_price column
non_numeric_values = df[~df['product_price'].str.replace('.', '', regex=False).str.isnumeric()]
print("Non-numeric values in product_price column:")
print(non_numeric_values['product_price'])

Non-numeric values in product_price column:
0       £39.99
1       £12.99
2        £7.00
3       £12.99
4       £30.00
         ...
1848    £15.00
1849    £15.00
1850    £18.00
1851    £15.00
1852    £69.00
Name: product_price, Length: 1853, dtype: object